<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="5"><h1 text-align="center">Registered Applications</h1></th>
    </tr>
    <tr>
      <%= render partial: 'app' %>
    </tr>
  </thead>
  <tfoot>
    <th colspan="5" align="center"><%= link_to 'Register A New Application', new_registered_application_path, class: 'btn btn-lg btn-success center-block' %></th>
  </tfoot>
</table>
